@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Rubik:wght@400;500&display=swap");
body {
  color: white;
}

.header {
  font-size: 12px;
  font-weight: bold;
}
.header #navItem:hover {
  color: #b9b9b9;
}

.container00 {
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.arrowDown {
  display: inline-block;
  width: 90px;
  margin-top: 5px;
}

.logoPc {
  width: 240px;
  margin-left: -10px;
  margin-right: 40px;
}

#button {
  padding: 15px 35px;
  border: 2px solid white;
}

.footer {
  background-color: black;
  height: 8vh;
  font-size: 12px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer a {
  color: white;
  text-decoration: none;
}
.footer a:hover {
  color: #b9b9b9;
}
.footer .copyOBC {
  color: #555252;
}

@media (max-width: 405px) {
  .logoPc {
    width: 180px;
    margin-top: 15px;
  }
  .footer {
    font-size: 10px;
  }
}
.container00.container01 {
  background-image: url(../../assets/images/home/01.jpg);
}
.container00.container02 {
  background-image: url(../../assets/images/home/03.jpg);
}
.container00.container03 {
  background-image: url(../../assets/images/home/02.gif);
}
.container00.container04 {
  background-image: url(../../assets/images/home/04.jpg);
}

.titlePadding {
  padding-top: 200px;
}

.shortTitle {
  width: 550px;
  margin-bottom: 25px;
}

.mediumTitle {
  width: 610px;
  margin-bottom: 25px;
}

@media (max-width: 350px) {
  .logoPc {
    width: 150px;
    margin-top: 15px;
  }
}
@media (max-width: 750px) {
  .titlePadding {
    padding-top: 120px;
  }
  .shortTitle,
  .mediumTitle {
    width: auto;
    font-size: 35px;
  }
}
@media (max-width: 380px) {
  .shortTitle,
  .mediumTitle {
    width: auto;
    font-size: 25px;
  }
}
.container00.container05 {
  background-image: url(../../assets/images/falcon9/01.jpg);
}
.container00.container06 {
  background-image: url(../../assets/images/falcon9/02.jpg);
}
.container00.container07 {
  background-image: url(../../assets/images/falcon9/08.jpg);
}
.container00.carrossel01 {
  background-image: url(../../assets/images/falcon9/03.jpg);
}
.container00.carrossel02 {
  background-image: url(../../assets/images/falcon9/04.jpg);
}
.container00.carrossel03 {
  background-image: url(../../assets/images/falcon9/05.jpg);
}
.container00.carrossel04 {
  background-image: url(../../assets/images/falcon9/06.jpg);
}
.container00.carrossel05 {
  background-image: url(../../assets/images/falcon9/07.jpg);
}

.titleFalcon9 {
  font-size: 90px;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  padding-top: 100px;
}

.numbers {
  background-color: black;
  height: 30vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.numbers .titleNumb {
  font-size: 90px;
}
.numbers .subTitleNumb {
  font-size: 20px;
}

.falcon9Desc {
  font-size: 22px;
  width: 670px;
  line-height: 50px;
}

.containerFalcon9Desc {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: left;
}

#overViewPosition {
  width: 500px;
  padding-top: 20%;
  margin-left: 17%;
}

.carrosselSlide img {
  height: 100vh;
}

.carousselText {
  background-color: white;
  color: black;
  border-radius: 4px;
}

.downloadDesc {
  background-color: black;
  height: 85vh;
  padding-top: 340px;
}
.downloadDesc a {
  text-decoration: none;
  color: #b9b9b9;
}
.downloadDesc a:hover {
  color: rgb(189, 111, 111);
}
.downloadDesc button {
  border: 2px solid white;
  margin-right: 10px;
}

.table {
  color: #555252;
}

@media (max-width: 769px) {
  .numbers .titleNumb {
    font-size: 30px;
  }
  .numbers .subTitleNumb {
    font-size: 15px;
  }
  .falcon9Desc {
    font-size: 22px;
    width: auto;
  }
  #overViewPosition {
    width: 380px;
    margin-left: 10%;
    padding-top: 20%;
  }
  .downloadDesc button {
    margin-bottom: 20px;
  }
}
@media (max-width: 1024px) {
  .falcon9Desc {
    font-size: 22px;
    width: 450px;
  }
  #overViewPosition {
    width: 360px;
    padding-top: 20%;
  }
}
@media (max-width: 425px) {
  .titleContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 80vh;
  }
  .titleFalcon9 {
    font-size: 50px;
  }
  .numbers h1 {
    font-size: 40px;
  }
  .numbers p {
    font-size: 14px;
  }
  .containerFalcon9Desc p {
    width: auto;
    font-size: 18px;
    line-height: 30px;
  }
  #overViewPosition {
    display: flex;
    height: 90vh;
    flex-direction: column;
    justify-content: center;
    margin-left: 8%;
    width: 220px;
  }
  .titleOverView {
    font-size: 26px;
    font-weight: bold;
  }
  .subTitleOvewView {
    font-size: 20px;
    font-weight: 300;
  }
  .table {
    color: white;
    font-size: 10px;
    width: 250px;
  }
}

/*# sourceMappingURL=style.css.map */
